# coding: utf-8

"""
    LOD API

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1.0

    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class AuthoritySearchApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_record_by_authority_id(self, id, authority_provider, **kwargs):  # noqa: E501
        """search for an given ID of a given authority-provider  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_record_by_authority_id(id, authority_provider, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The ID-String of the authority-identifier to access. Possible Values (examples): 208922695, 118695940, 20474817, Q1585819 (required)
        :param str authority_provider: The name of the authority-provider to access. Allowed Values: ['isni', 'orcid', 'viaf', 'lc', 'filmportal.de', 'wd', 'swb', 'gnd']. (required)
        :param str format: set the Content-Type over this Query-Parameter. Allowed: nt, rdf, ttl, nq, jsonl, json
        :param int size: Configure the maxmimum amount of hits to be returned
        :param int _from: Configure the offset from the frist result you want to fetch
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_record_by_authority_id_with_http_info(id, authority_provider, **kwargs)  # noqa: E501
        else:
            (data) = self.get_record_by_authority_id_with_http_info(id, authority_provider, **kwargs)  # noqa: E501
            return data

    def get_record_by_authority_id_with_http_info(self, id, authority_provider, **kwargs):  # noqa: E501
        """search for an given ID of a given authority-provider  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_record_by_authority_id_with_http_info(id, authority_provider, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The ID-String of the authority-identifier to access. Possible Values (examples): 208922695, 118695940, 20474817, Q1585819 (required)
        :param str authority_provider: The name of the authority-provider to access. Allowed Values: ['isni', 'orcid', 'viaf', 'lc', 'filmportal.de', 'wd', 'swb', 'gnd']. (required)
        :param str format: set the Content-Type over this Query-Parameter. Allowed: nt, rdf, ttl, nq, jsonl, json
        :param int size: Configure the maxmimum amount of hits to be returned
        :param int _from: Configure the offset from the frist result you want to fetch
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'authority_provider', 'format', 'size', '_from']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_record_by_authority_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in params or
                                                       params['id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `id` when calling `get_record_by_authority_id`")  # noqa: E501
        # verify the required parameter 'authority_provider' is set
        if self.api_client.client_side_validation and ('authority_provider' not in params or
                                                       params['authority_provider'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `authority_provider` when calling `get_record_by_authority_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501
        if 'authority_provider' in params:
            path_params['authority_provider'] = params['authority_provider']  # noqa: E501

        query_params = []
        if 'format' in params:
            query_params.append(('format', params['format']))  # noqa: E501
        if 'size' in params:
            query_params.append(('size', params['size']))  # noqa: E501
        if '_from' in params:
            query_params.append(('from', params['_from']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/{authority_provider}/{id}'.format(
              authority_provider=authority_provider, id=id), 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_record_by_authority_id_and_entity_id(self, id, entity_type, authority_provider, **kwargs):  # noqa: E501
        """search for an given ID of a given authority-provider on a given entity-index  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_record_by_authority_id_and_entity_id(id, entity_type, authority_provider, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The ID-String of the authority-identifier to access. Possible Values (examples): 208922695, 118695940, 20474817, Q1585819 (required)
        :param str entity_type: The name of the entity-index to access. Allowed Values: ['organizations', 'works', 'events', 'topics', 'persons', 'resources', 'geo']. (required)
        :param str authority_provider: The name of the authority-provider to access. Allowed Values: ['isni', 'orcid', 'viaf', 'lc', 'filmportal.de', 'wd', 'swb', 'gnd']. (required)
        :param str format: set the Content-Type over this Query-Parameter. Allowed: nt, rdf, ttl, nq, jsonl, json
        :param int size: Configure the maxmimum amount of hits to be returned
        :param int _from: Configure the offset from the frist result you want to fetch
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_record_by_authority_id_and_entity_id_with_http_info(id, entity_type, authority_provider, **kwargs)  # noqa: E501
        else:
            (data) = self.get_record_by_authority_id_and_entity_id_with_http_info(id, entity_type, authority_provider, **kwargs)  # noqa: E501
            return data

    def get_record_by_authority_id_and_entity_id_with_http_info(self, id, entity_type, authority_provider, **kwargs):  # noqa: E501
        """search for an given ID of a given authority-provider on a given entity-index  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_record_by_authority_id_and_entity_id_with_http_info(id, entity_type, authority_provider, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str id: The ID-String of the authority-identifier to access. Possible Values (examples): 208922695, 118695940, 20474817, Q1585819 (required)
        :param str entity_type: The name of the entity-index to access. Allowed Values: ['organizations', 'works', 'events', 'topics', 'persons', 'resources', 'geo']. (required)
        :param str authority_provider: The name of the authority-provider to access. Allowed Values: ['isni', 'orcid', 'viaf', 'lc', 'filmportal.de', 'wd', 'swb', 'gnd']. (required)
        :param str format: set the Content-Type over this Query-Parameter. Allowed: nt, rdf, ttl, nq, jsonl, json
        :param int size: Configure the maxmimum amount of hits to be returned
        :param int _from: Configure the offset from the frist result you want to fetch
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'entity_type', 'authority_provider', 'format', 'size', '_from']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_record_by_authority_id_and_entity_id" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if self.api_client.client_side_validation and ('id' not in params or
                                                       params['id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `id` when calling `get_record_by_authority_id_and_entity_id`")  # noqa: E501
        # verify the required parameter 'entity_type' is set
        if self.api_client.client_side_validation and ('entity_type' not in params or
                                                       params['entity_type'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `entity_type` when calling `get_record_by_authority_id_and_entity_id`")  # noqa: E501
        # verify the required parameter 'authority_provider' is set
        if self.api_client.client_side_validation and ('authority_provider' not in params or
                                                       params['authority_provider'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `authority_provider` when calling `get_record_by_authority_id_and_entity_id`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501
        if 'entity_type' in params:
            path_params['entity_type'] = params['entity_type']  # noqa: E501
        if 'authority_provider' in params:
            path_params['authority_provider'] = params['authority_provider']  # noqa: E501

        query_params = []
        if 'format' in params:
            query_params.append(('format', params['format']))  # noqa: E501
        if 'size' in params:
            query_params.append(('size', params['size']))  # noqa: E501
        if '_from' in params:
            query_params.append(('from', params['_from']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/{authority_provider}/{entity_type}/{id}'.format(
              authority_provider=authority_provider,
              entity_type=entity_type, id=id), 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
